<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>问卷系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../style/admin.css" media="all">
  <link rel="stylesheet" href="../style/login.css" media="all">
  <script src="javascripts/api.js"></script>
  <!-- 导入Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- vue's ajax -->
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>

<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li v-if="!isLogin" class="layui-nav-item" lay-unselect>
            <a href="users/login">
              <cite>登录</cite>
            </a>
          </li>
          <li v-else class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite>{{username}}</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="users/info">基本资料</a></dd>
              <dd><a lay-href="users/modifypasswd">修改密码</a></dd>
              <hr>
              <dd style="text-align: center;">
                <a href="javascript:;" onclick="logout()">退出</a>
              </dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo">
            <span>问卷系统</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="allnaires" class="layui-nav-item layui-this">
              <a lay-href="naire/all" lay-tips="组件" lay-direction="2">
                <i class="layui-icon layui-icon-file"></i>
                <cite>全部问卷</cite>
              </a>
            </li>
            <li data-name="starnaires" class="layui-nav-item">
              <a lay-href="naire/star" lay-tips="页面" lay-direction="2">
                <i class="layui-icon layui-icon-rate"></i>
                <cite>星标问卷</cite>
              </a>
            </li>
            <li data-name="trashbin" class="layui-nav-item">
              <a lay-href="naire/trashbin" lay-tips="应用" lay-direction="2">
                <i class="layui-icon layui-icon-delete"></i>
                <cite>回收站</cite>
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="naire/all" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="layui/layui.js"></script>
  <script>
    layui.config({
      base: '' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use('index');
  </script>
  <script src="javascripts/index.js"></script>

</body>
</html>